asttokens
backcall
bcrypt
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
dnspython
executing
Flask
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
lightgbm
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pymongo
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
urllib3
wcwidth
Werkzeug
gunicorn