
{% extends 'layout.html' %}
{% block body %}
<style>
            
  .container{overflow: hidden}
  .ct{ border-radius: 5px;
 
  padding: 0px;}
  .tab{float: left;}
  .tab-2{margin-left: 50px}
  .tab-2 input{display: block;margin-bottom: 10px}
  tr{transition:all .25s ease-in-out}
  tr:hover{background-color:#EEE;cursor: pointer}

  input[type=text], select {
  width: 90%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  

  
}

input[type=number], select {
  width: 90%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  
}
label {
	
	color: black;
	
}
.button1 {
  background-color: #2d9f46;
  border-radius: 6px;
  
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: #2d429f;
  border-radius: 6px;
  
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}.button3 {
  background-color: #cd1717;
  border-radius: 6px;
  
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.trt{

  text-align:left;


}
</style>
<body>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dues</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Dues</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pending Dues</h5>
              <table class="table table-striped" id="mytable">
            
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>A1</td>
                    <td>B1</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>A3</td>
                    <td>B3</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>A2</td>
                    <td>B2</td>
                    <td>20</td>
                </tr>
            </table>
              <!-- Default Table -->
              <!-- <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Age</th>
                    <th scope="col">Start Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Bridie Kessler</td>
                    <td>Developer</td>
                    <td>35</td>
                    <td>2014-12-05</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Ashleigh Langosh</td>
                    <td>Finance</td>
                    <td>45</td>
                    <td>2011-08-12</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Angus Grady</td>
                    <td>HR</td>
                    <td>34</td>
                    <td>2012-06-11</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Raheem Lehner</td>
                    <td>Dynamic Division Officer</td>
                    <td>47</td>
                    <td>2011-04-19</td>
                  </tr>
                </tbody>
              </table> -->
              <!-- End Default Table Example -->
            </div>
          </div>

         

        

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" align="center">Add Your Dues Here</h5>
              <div class="tab tab-2">
              <!-- Name :<input type="text" name="fname" id="fname">
              Contact :<input type="text" name="lname" id="lname">
              Amount :<input type="number" name="age" id="age">  -->
              <div class="ct" background-color: #f2f2f2>
              <form action="/action_page.php">
                <label for="fname" background-color:><b>Name</b></label>
                <input type="text" id="fname" name="fname" placeholder="">
            
                <label for="lname"><b>Contact</b></label>
                <input type="text" id="lname" name="lname" placeholder="">
            
                <label for="country"><b>Amount</b></label>
               <input type="number" name="age" id="age"> 
              
              </form>
              <div class="trt"align="center">
              <button class="button1" onclick="addHtmlTableRow();" >Add</button>
              <button class="button2" onclick="editHtmlTbleSelectedRow();">Edit</button>
              <button class="button3"  onclick="removeSelectedRow();">Remove</button>
              </div>
              <!-- Table with stripped rows -->
              <!-- <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Age</th>
                    <th scope="col">Start Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Bridie Kessler</td>
                    <td>Developer</td>
                    <td>35</td>
                    <td>2014-12-05</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Ashleigh Langosh</td>
                    <td>Finance</td>
                    <td>45</td>
                    <td>2011-08-12</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Angus Grady</td>
                    <td>HR</td>
                    <td>34</td>
                    <td>2012-06-11</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Raheem Lehner</td>
                    <td>Dynamic Division Officer</td>
                    <td>47</td>
                    <td>2011-04-19</td>
                  </tr>
                </tbody>
              </table> -->
              <!-- End Table with stripped rows -->

            </div>
          </div>

         


            </div>
          </div>

        </div>
      </div>
    </section>
    

  </main><!-- End #main -->
  <script>
            
    var rIndex,
        table = document.getElementById("mytable");
    
    // check the empty input
    function checkEmptyInput()
    {
        var isEmpty = false,
            fname = document.getElementById("fname").value,
            lname = document.getElementById("lname").value,
            age = document.getElementById("age").value;
    
        if(fname === ""){
            alert("First Name Connot Be Empty");
            isEmpty = true;
        }
        else if(lname === ""){
            alert("Last Name Connot Be Empty");
            isEmpty = true;
        }
        else if(age === ""){
            alert("Age Connot Be Empty");
            isEmpty = true;
        }
        return isEmpty;
    }
    
    // add Row
    function addHtmlTableRow()
    {
        // get the table by id
        // create a new row and cells
        // get value from input text
        // set the values into row cell's
        if(!checkEmptyInput()){
        var newRow = table.insertRow(table.length),
            cell1 = newRow.insertCell(0),
            cell2 = newRow.insertCell(1),
            cell3 = newRow.insertCell(2),
            fname = document.getElementById("fname").value,
            lname = document.getElementById("lname").value,
            age = document.getElementById("age").value;
    
        cell1.innerHTML = fname;
        cell2.innerHTML = lname;
        cell3.innerHTML = age;
        // call the function to set the event to the new row
        selectedRowToInput();
    }
    }
    
    // display selected row data into input text
    function selectedRowToInput()
    {
        
        for(var i = 1; i < table.rows.length; i++)
        {
            table.rows[i].onclick = function()
            {
              // get the seected row index
              rIndex = this.rowIndex;
              document.getElementById("fname").value = this.cells[0].innerHTML;
              document.getElementById("lname").value = this.cells[1].innerHTML;
              document.getElementById("age").value = this.cells[2].innerHTML;
            };
        }
    }
    selectedRowToInput();
    
    function editHtmlTbleSelectedRow()
    {
        var fname = document.getElementById("fname").value,
            lname = document.getElementById("lname").value,
            age = document.getElementById("age").value;
       if(!checkEmptyInput()){
        table.rows[rIndex].cells[0].innerHTML = fname;
        table.rows[rIndex].cells[1].innerHTML = lname;
        table.rows[rIndex].cells[2].innerHTML = age;
      }
    }
    
    function removeSelectedRow()
    {
        table.deleteRow(rIndex);
        // clear input text
        document.getElementById("fname").value = "";
        document.getElementById("lname").value = "";
        document.getElementById("age").value = "";
    }
</script>
  

</body>

</html>

{% endblock %}