<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frosthack</title>
    <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet">

    <!-- <link rel="stylesheet" href="main.css"> -->
</head>
<body>
       <div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
      <h2 class="head">App Name</h2>
      <a href=''>
        <button class="button" >
          <a href="shopkeeper_signup">Shopkeeper</a> 
        </button>
        
    </a>
    
    <a href=''>
        <button class="button">
           Customer
        </button>
    </a>
      
      <h2>&nbsp;</h2>
    </div>
  </div>
</body>
</html>